#bg{
    background-repeat: no-repeat;
    background-size: 1366px 768px;
}
#p1{
    width: 180px;
    height: 10vh;
    
}
body{
/*    background: url(image/backgrund.png) no-repeat center/cover ; 
    background-size: 100% 100%;*/ 
    margin: 0%;
    padding: 0%;
    /*box-sizing: border-box;*/
    font-family: 'Poppins' , sans-serif ;

}
/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}*/
/*.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(5,0,136,0.5)rgba(5,0,136,0.5)),url(image/backgrund.png);
    background-position: center;
    background-size: cover;
}*/
.login{
    display: flex; 
    flex-direction: column;
    height: 345px;
    width: 300px;
   /* border: 1px solid black; */
    align-items: center; 
    justify-content: center; 
    margin: 130px 600px;
    background-color: rgba(56, 48, 48, 0.2);
    box-shadow: inset -5px -5px rgba(56, 48, 48, 0.4);
    border-radius: 35px;
}
.login img{
    color: #fff;
    width: 200px;
    height: 100px;
    margin: -25px;
    
}
.box{
  padding: 12px;
  margin: 8px ;
  width: 65%;
  border: none;
  outline: none;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.7);  
  box-shadow: inset -3px -3px rgba(255, 255, 255, 0.5);
  color: #000;
  font-size: 1rem;
}
#submit  {
    padding: 10px  ;
    margin-top: 3px;
    width: 70%;
    background-color: rgba(30, 94, 15, 0.5);
    box-shadow: inset -3px -3px rgba(14, 124, 23, 0.507);
    color:#000;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    text-align: center;
}
#submit:hover{
    cursor: pointer;
    background-color: rgba(15, 46, 8, 0.5);
    color: #fff;
}
::placeholder{
   color: #000; 
   opacity: 0.7;
   text-align: center;
}
.table1 tr td{
    background: #419245;
    font-size: 25px;
    text-align: center;
    display: block;
    position: absolute;
    width: 1000px;
    padding: 5px;
    margin-top: 0px;
    left: 21%;
    border-radius: 25px;
}
.foto1 {
    display: block;
    position: absolute;
    width: 250px;
    height:70px ;
    right: 1025px ;
    top: 0%;
}
.foto2 img {
    display: block;
    position: absolute;
    width: 220px;
    height:90px ;
    right: 850px;
    transform: translateY(-95%);
    top: 70%;
}
.foto3  img{
    display: block;
    position: absolute;
    width: 100px;
    height: 100px ;
    top: 45%;
    transform: translateY(-75%);
    right: 910px;
}

