<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static "css\design_s.css" %}"/>
    <title> CHAT </title>
    <link rel="stylesheet" href="desigen_s.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">

</head>
<body>
    <div class="back">
    
    </div>
    <div class="table1">
        <table border="0">
            <tr><td> Academic Advising System</td></tr>
        </table>
    </div>

    <div class="foto1">
        <img id="p1" src="{% static "image\Mor.png"  %}" alt="uh oh no image" >
    </div>

    <div class="containner">
        <div class="header">
            <h1> Web Chat </h1>
        </div>
        <div class="body">
            <p class="message">Hello</p>
            <p class="message_user">Hi</p>
        </div>
        <div class="footer">
            <form>
                <input type="text" name="">
                <button>Send</button>
            </form>
        </div>
    </div>
       
    <div class="foto4">
        <img id="p1" src="{% static "image\chat.png"  %}" alt="uh oh no image" >
    </div>


</body>
</html>