<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static "css\design_s.css" %}"/>
    <title> Get Course Info</title>
    <link rel="stylesheet" href="desigen_s.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <style>
       body{
        background: url(box_image/backgrund.png) no-repeat center / cover;
        margin: 0px;
        padding:0px;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        height: 145vh; 
       } 
    </style>

    <div class="table1">
        <table border="0">
            <tr><td> Academic Advising System</td></tr>
        </table>
    </div>

    <div class="foto1">
        <img id="p1" src="{% static "image\Mor.png"  %}" alt="uh oh no image" >
    </div>

    <div class="tag_Page1">
         <h2>Information System</h2>
    </div>

    <div class="tag_Page2">
        <h2> Computer Science </h2>
    </div>

    <div class="tag_Page3">
        <h2> Computer Engineering </h2>
    </div>

    <div class="nav">
        <ul>
            <li>LEVEL ONE
                <ul class="dropdown">
                    <li>----</li> 
                    
                </ul>
             </li>
           
            <li>LEVEL ONE
                 <ul class="dropdown">
                     <li>----- </li>
               
                 </ul>
            </li>
           
            <li>LEVEL ONE
                <ul class="dropdown">
                    <li>------</li>
                 
                </ul>
             </li>
        </ul>
    </div>

    <div class="nav2">
        <ul>
            <li>LEVEL TWO
                <ul class="dropdown2">
                    <li>----- </li> 
                </ul>
             </li>
            <li>LEVEL TWO
                 <ul class="dropdown2">
                     <li>----- </li>
                 </ul>
            </li>
            <li>LEVEL TWO
                <ul class="dropdown2">
                    <li>---- </li>
                </ul>
             </li>
        </ul>
    </div>

    <div class="nav3">
        <ul>
            <li>LEVEL THREE
                <ul class="dropdown3">
                    <li>----- </li> 
                </ul>
             </li>
            <li>LEVEL THREE
                 <ul class="dropdown3">
                     <li>----- </li>
                 </ul>
            </li>
            <li>LEVEL THREE
                <ul class="dropdown3">
                    <li>---- </li>
                </ul>
             </li>
        </ul>
    </div>

    <div class="nav4">
        <ul>
            <li>LEVEL FOUR
                <ul class="dropdown4">
                    <li>----- </li> 
                </ul>
             </li>
            <li>LEVEL FOUR
                 <ul class="dropdown4">
                     <li>----- </li>
                 </ul>
            </li>
            <li>LEVEL FOUR
                <ul class="dropdown4">
                    <li>---- </li>
                </ul>
             </li>
        </ul>
    </div>

    <div class="nav5">
        <ul>
            <li>LEVEL FIVE
                <ul class="dropdown5">
                    <li>----- </li> 
                </ul>
             </li>
            <li>LEVEL FIVE
                 <ul class="dropdown5">
                     <li>----- </li>
                 </ul>
            </li>
            <li>LEVEL FIVE
                <ul class="dropdown5">
                    <li>---- </li>
                </ul>
             </li>
        </ul>
    </div>

    <div class="nav6">
        <ul>
            <li>LEVEL SIX
                <ul class="dropdown6">
                    <li>----- </li> 
                </ul>
             </li>
            <li>LEVEL SIX
                 <ul class="dropdown6">
                     <li>----- </li>
                 </ul>
            </li>
            <li>LEVEL SIX
                <ul class="dropdown6">
                    <li>---- </li>
                </ul>
             </li>
        </ul>
    </div>

    <div class="nav7">
        <ul>
            <li>LEVEL SEVEN
                <ul class="dropdown7">
                    <li>----- </li> 
                </ul>
             </li>
            <li>LEVEL SEVEN
                 <ul class="dropdown7">
                     <li>----- </li>
                 </ul>
            </li>
            <li>LEVEL SEVEN
                <ul class="dropdown7">
                    <li>---- </li>
                </ul>
             </li>
        </ul>
    </div>

    <div class="nav8">
        <ul>
            <li>LEVEL EIGHT
                <ul class="dropdown8">
                    <li>----- </li> 
                </ul>
             </li>
            <li>LEVEL EIGHT
                 <ul class="dropdown8">
                     <li>----- </li>
                 </ul>
            </li>
            <li>LEVEL EIGHT
                <ul class="dropdown8">
                    <li>---- </li>
                </ul>
             </li>
        </ul>
    </div>

    
    
</body>
</html>